.location-card {
  border-radius: 8px;
  padding: 20px;
  margin: 15px;
  width: 250px;
  text-align: center;
  background-color: #f5f5f5;
}

.location-name-button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
